{% load static %}

<style>
  .dropdown_action {
    position: absolute;
    top: 70px;
    padding: 2rem;
    right: 13rem;
    background-color: #ddd;
    box-sizing: border-box;
    border-radius: 12px;
    width: 180px;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
  }

  .dropdown_action.active {
    visibility: visible;
    opacity: 1;
  }

  .dropdown_action ul {
    list-style: none;
    margin: 2rem 0 2rem 0;
  }
</style>

<!-- Header Section -->
<header class="header">
  <div class="container container--narrow">
    <a href="{% url 'profiles' %}" class="header__logo">
      <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo" />
    </a>
    <nav class="header__nav">
      <input type="checkbox" id="responsive-menu" />
      <label for="responsive-menu" class="toggle-menu">
        <span>Menu</span>
        <div class="toggle-menu__lines"></div>
      </label>
      <ul class="header__menu">
        <li class="header__menuItem">
          <a href="{% url 'profiles' %}">Developers</a>
        </li>
        <li class="header__menuItem">
          <a href="{% url 'projects' %}">Projects</a>
        </li>
        {% if request.user.is_authenticated %}

        <li class="header__menuItem">

          <a href="{% url 'inbox' %}">Inbox</a>

        </li>

        <li class="header__menuItem">
          <a href="{% url 'account' %}">My account</a>
        </li>

        <li class="header__menuItem">
          <img
            class="avatar avatar--sm dev__avatar"
            src="{{ request.user.profile.pictureUrl }}"
            onclick="menuToggle();"
          />
          <div class="dropdown_action">
            <strong>{{ request.user.profile.name }}</strong>
            <ul>
              <li>
                <a href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        </li>

        {% else %}
        <li class="header__menuItem">
          <a href="{% url 'login' %}" class="btn btn--sub">sing in|up </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

<script>
  function menuToggle() {
    let menuToggle = document.querySelector(".dropdown_action");
    menuToggle.classList.toggle("active");
  }
</script>
